<div class="container__big-card">
  <div class="big-card__photo">
    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStu7z7oZ9VTeEX_89Cjv7kLW1bvlZs2dMi9Q&usqp=CAU"
    alt=""
    height="250px"
    >
  </div>

  <div class="big-card__title">
    <h1><a href="#">Aurora simplesmente zap</a></h1>
  </div>

  <div class="big-card__description">
    <p>
      <a href="#"> Lorem Ipsum is simply dummy text of the printing and typesetting industry.
       Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
      </a>
    </p>
  </div>
</div>
