<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcStu7z7oZ9VTeEX_89Cjv7kLW1bvlZs2dMi9Q&usqp=CAU "
    cardTitle="Simplesmente aurora na page."
    cardDescription="Zapzap zapzap asdoajhsdoasgdfhus"
    ></app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
    photoCover="Https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Pz7DDcDMDZqfbpZ9Olf-OBAx1xniiOSt5g&usqp=CAU"
    cardTitle="Aurora passando no projeto do blog"
    ></app-small-card>
    <app-small-card
    photoCover="Https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS1Pz7DDcDMDZqfbpZ9Olf-OBAx1xniiOSt5g&usqp=CAU"
    cardTitle="Aurora passando no projeto do blog"
    ></app-small-card>
  </div>
</div>
